@page "/topic"
@inject HttpClient Http
@using backend.Data;
@inject ApiService apiService
@inject NavigationManager NavigationManager


<div>
    <br />
    <h4>Skriv en kommentar</h4>
    <input placeholder="Content" type="input" id="content" />
    <input placeholder="Name" type="input" id="content" />
    <button id="createPostButton" type="button">Post comment</button>
</div>

@code {

    // PostId is passed in from the parent component. See how in PostItem.razor.
    [Parameter]
    public int PostId { get; set; }

    protected override void OnInitialized()
    {

    }

    //private string? content;
    //private async void CreateNewComment()
    //{
    //    //if (content == null)
    //    //{
    //    //    return;
    //    //}
    //    // TODO: Provide list of users from dropdown, or maybe just convert
    //    // from username to UserId
    //    // await apiService.CreateComment(content, PostId, 2); // UserId: 2
    //}
}

