.input-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

    .btn-danger:hover {
        background-color: #c82333;
    }
