body {
}

h2 {
    margin-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.maincontainer, .commentcontainer {
    background-color: lightgray;
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.dividertitle {
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.metapost {
    display: flex;
    justify-content: space-between;
}

.metapost p {
    margin-bottom: 2px;
    font-size: 10px;
    font-style: italic;
}

.addvote, .comment-votes {
    display: flex;
    justify-content: right;
    padding-bottom: 10px;
}

.addvote button, .comment-votes button{
    min-width: 90px;
}

.lftbtn {
    margin-left: 5px;
}

.metapost {
    border-bottom: solid;
    border-color: white;
    border-width: 5px;
}

.commentcontent {
    padding-top: 16px;
}

.center {
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
}