table[b-6tngkvcanx] {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black; /* Set the border properties */
}

th[b-6tngkvcanx], td[b-6tngkvcanx] {
    border: 1px solid black; /* Set the border properties */
    padding: 8px; /* Add some padding to your cells for better spacing */
}

th[b-6tngkvcanx] {
    background-color: #f2f2f2; /* Optional background color for header cells */
}
